<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <% if @current_user.present? && @current_user.categories.include?(category) %>
        <td><%= link_to category.cat_name, category %><span class="glyphicon glyphicon-ok"></span></td>
        <% else %>
        <td><%= link_to category.cat_name, category %><span class="glyphicon glyphicon-plus"></span></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
